@charset "UTF-8";
@import url("font.css");
header {
  height: 120px;
  width: 100%;
}

.title {
  font-size: 48px;
}

.title::after {
  content: '文字';
  display: block;
}

body {
  background-color: #ffd1d1;
  color: white;
  font-size: 24px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

header {
  height: 120px;
  width: 100%;
}

.modal {
  width: 100px;
}

body .container header {
  height: 120px;
}

body .container header .logo {
  width: 100px;
  height: 100px;
}

body .container footer {
  height: 300px;
}

a {
  color: #f20;
}

a:hover {
  color: #c61a00;
}

a::after {
  content: 'content';
}

a::before {
  content: 'before';
}

.box {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 14px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.box01 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
}

.box_rect {
  width: 200px;
  height: 300px;
  background-color: #f7c4c4;
}

.box_rects {
  width: 100vw;
  height: 100vh;
}

.btn-wide {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #ffae9b;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-wide:hover {
  color: #fff;
  background-color: #ff5b35;
}

.btn-default {
  width: 120px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #c3f6a5;
}

.btn-default:hover {
  color: #fff;
  background-color: #85ed48;
}

.text {
  text-align: center;
  width: 100px;
  height: 20px;
  border: 1px solid #333;
  font-size: 20px;
  color: #8bff43;
}

.aa {
  margin: 40px;
  background-image: url("./images/aa.jpg");
}

.aa {
  width: 20;
  height: 6px;
  margin: 50px;
  font: 2px;
}

.bb {
  width: 20px;
}

.box-1 {
  width: 1px;
}

.box-2 {
  width: 2px;
}

.box-3 {
  width: 3px;
}

.box-4 {
  width: 4px;
}

.box-5 {
  width: 5px;
}

.box-6 {
  width: 6px;
}

.box-7 {
  width: 7px;
}

.box-8 {
  width: 8px;
}

.box-9 {
  width: 9px;
}

.box-10 {
  width: 10px;
}

.row {
  display: flex;
}

.row .col-1 {
  width: 4.16667%;
}

.row .col-2 {
  width: 8.33333%;
}

.row .col-3 {
  width: 12.5%;
}

.row .col-4 {
  width: 16.66667%;
}

.row .col-5 {
  width: 20.83333%;
}

.row .col-6 {
  width: 25%;
}

.row .col-7 {
  width: 29.16667%;
}

.row .col-8 {
  width: 33.33333%;
}

.row .col-9 {
  width: 37.5%;
}

.row .col-10 {
  width: 41.66667%;
}

.row .col-11 {
  width: 45.83333%;
}

.row .col-12 {
  width: 50%;
}

.row .col-13 {
  width: 54.16667%;
}

.row .col-14 {
  width: 58.33333%;
}

.row .col-15 {
  width: 62.5%;
}

.row .col-16 {
  width: 66.66667%;
}

.row .col-17 {
  width: 70.83333%;
}

.row .col-18 {
  width: 75%;
}

.row .col-19 {
  width: 79.16667%;
}

.row .col-20 {
  width: 83.33333%;
}

.row .col-21 {
  width: 87.5%;
}

.row .col-22 {
  width: 91.66667%;
}

.row .col-23 {
  width: 95.83333%;
}

.row .col-24 {
  width: 100%;
}

.a {
  background-image: url("../img/a.jpg");
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
}

.b {
  background-image: url("../img/b.jpg");
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
}

.c {
  background-image: url("../img/c.jpg");
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
}

.d {
  background-image: url("../img/d.jpg");
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
}

.banner2 {
  background-image: url("../img/banner2.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 180px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.v1 {
  width: 100vw;
  height: 400px;
  display: block;
  position: relative;
  margin-bottom: 100px;
}

.wrapper .banner {
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .banner .slider1 {
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.wrapper .banner .slider2 {
  background-image: url("../img/slider2.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.wrapper .banner .slider3 {
  background-image: url("../img/slider3.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
  color: #333;
}

h2 {
  font-size: 40px;
  color: #333;
}

h3 {
  font-size: 36px;
  color: #333;
}

h4 {
  font-size: 30px;
  color: #333;
}

h5 {
  font-size: 24px;
  color: #333;
}

.text-primary {
  color: #028df7;
  background-color: #3ef5c7;
  padding: 10px 20px;
  transition: .2s all ease;
  cursor: pointer;
}

.text-primary:hover {
  background-color: #9ffae3;
}

.text-secondary {
  color: #a5a5a5;
  background-color: #3ef5c7;
  padding: 10px 20px;
  transition: .2s all ease;
  cursor: pointer;
}

.text-secondary:hover {
  background-color: #9ffae3;
}

.text-success {
  color: #00dd12;
  background-color: #3ef5c7;
  padding: 10px 20px;
  transition: .2s all ease;
  cursor: pointer;
}

.text-success:hover {
  background-color: #9ffae3;
}

.text-danger {
  color: #a90000;
  background-color: #3ef5c7;
  padding: 10px 20px;
  transition: .2s all ease;
  cursor: pointer;
}

.text-danger:hover {
  background-color: #9ffae3;
}

.text-warning {
  color: #e9ff20;
  background-color: #3ef5c7;
  padding: 10px 20px;
  transition: .2s all ease;
  cursor: pointer;
}

.text-warning:hover {
  background-color: #9ffae3;
}

.text-info {
  color: #71afff;
  background-color: #3ef5c7;
  padding: 10px 20px;
  transition: .2s all ease;
  cursor: pointer;
}

.text-info:hover {
  background-color: #9ffae3;
}

.blue, .card-background_blue {
  background-color: #0008ff;
}

.yellow, .box-default, .box-warning, .card-background_yellow, .banner {
  background-color: #f3ff0f;
}

.box-default {
  width: 100px;
  height: 100px;
}

.box-warning {
  width: 300px;
  height: 300px;
}

.borderRaduis5, .card-background_yellow, .card-background_blue {
  border-radius: 5px;
}

.boxShadow, .card-background_blue {
  box-shadow: 1px 1px 10px #333;
}

.card-background_blue {
  border: 1px solid #ff2a2a;
}

.card-background_yellow {
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

.card-background_blue {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}
/*# sourceMappingURL=style.css.map */